---
export const prerender = false;
import Producto from '@/components/componentes-productos/Producto.jsx';
import Layout from '../layouts/Layout.astro';
const title = "Productos";

const response = await fetch('https://mongodb-productos.onrender.com/productos/');
const data = await response.json();
const productos = data.productos
---

<Layout title = {title}>
	<div class="mt-12">

		<div class="flex flex-col space-y-10 items-center mt-20 mb-20 text-center px-4 md:max-w-4xl md:justify-center md:mx-auto">
			<h1 class="text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl text-center">
				<span class="block xl:inline">Escoge el que mas te guste!</span>
			</h1>
			<p class="text-slate-400 text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem dolor quo asperiores, dolorem dolores harum aliquid. Placeat, asperiores necessitatibus?</p>
		</div>

			<div class="flex flex-col gap-5 mt-12 mb-12 px-5 md:grid md:grid-cols-2 lg:mx-auto lg:max-w-7xl lg:grid-cols-3">
			{productos.map((producto) => {
				return <Producto 
				_id = {producto._id}
				nombre_producto = {producto.nombre_producto} 
				categoria = {producto.categoria}
				descripcion = {producto.descripcion} 
				precio = {producto.precio}
				descuento = {producto.descuento}
				imagen_principal = {producto.imagen_principal}
				imagenes_productos = {producto.imagenes_productos}
				dimensiones = {producto.dimensiones}
				material = {producto.material}
						 />
			})}
		</div>
	</div>
</Layout>
